/* reseter */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   
/* font */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
}

/* flex */
.flex{
    display: flex;
    justify-content: center;
}


/* Design */

.timer{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
}
.timerhead{
    background-color: blue;
    color: white;
    padding: 1rem;
}
.timerbody{
    height: 6rem;
    padding: 1rem;
}

.clock{
    margin-top: 1rem;
    font-weight: 100;
    font-size: 1.5rem;
    /* animation: blinker 1s linear infinite; */
}
/* @keyframes blinker {
    50% {
      opacity: 0;
    }
  } */

/* question */
.question{
    display: inline-block;
    text-align: center;
    width: 31rem;
    border: 1px solid black;
    margin-left: 1rem;
}
.questionhead{
    background-color:black;
    color: white;
    padding: 1rem;
}
.questionbody{
    height: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 800;
}

/* score */
.score{
    text-align: center;
    width: 10.5rem;
    padding: 1rem;
    border: 1px solid black;
    margin-top: 1rem;
}
.score h2{
    font-size:2rem;
    margin: 10px;
}
.scoretick{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.circle{
    text-align: center;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 5px;
}
.options{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 31rem;
    border:1px solid black;
    margin-left: 1rem;
    margin-top: 1rem;
    position: relative;
}
.option{
    border:1px solid black;
    margin: 1rem;
    width: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 600;

}
.option:hover{
    background-color: rgb(231, 231, 222);
}
.main{
    /* margin-top: 4rem; */
    position: relative;
    width: 43.75rem;
    margin: 4rem auto;
}

.nextquestion{
    width: 31rem;
    height: 16rem;
    background-color: rgba(236, 229, 236, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38.8%;
    left: 28%;
    display: none;
}
.nextquestion button{
    font-size: 1.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: blue;
    color: white;
    padding: 1rem;
    cursor: pointer;
    z-index: 10000;
  
}
.start{
    background-image: url(background.jpeg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start button{
    font-size: 1.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    background-color:rgba(31,92,131,0.7);
    color: white;
    padding: 1rem;
    cursor: pointer;
    outline: 1px solid black;
}
.xyz{
    display: none;
}
.result{
    text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
}
.playagain{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Nanum Gothic', sans-serif;
    background-color:rgba(31,92,131,0.7);
    color: white;
    padding: 1rem;
    cursor: pointer;
    outline: 1px solid black;
}